* text=auto eol=lf

.gitattributes text export-ignore
.gitignore     text export-ignore

*.gd       text
*.gdignore text
*.godot    text
*.import   text
*.md       text diff=markdown
*.tres     text
*.tscn     text

*.svg binary
*.ttf binary
