* text=auto eol=lf

.gitattributes text export-ignore
.gitignore     text export-ignore

*.godot  text
*.import text
*.md     text diff=markdown
*.tres   text
*.tscn   text

*.svg binary
*.ttf binary
